
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Liste des users", "List");
@Html.ActionLink("Ajouter des users", "GetAjouter");
@Html.ActionLink("Supprimer des users", "GetSupprimer");
